html, body {
    height: 100%;
    margin: 0;
    padding: 0;

  }
  
  .myMainPage {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }
  
  .backgroundVideo {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover; /* Ensures video covers the screen without distortion */
    z-index: -1; /* Places the video behind the content */
  }
  
  .content {
    position: relative;
    z-index: 1; /* Brings content in front of the video */
    color: white; /* Optional: Change text color for visibility */
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .text-main{
    color: aliceblue;
    margin-top: 140px;
    margin-left: 40px;
  }